
### Mac OS ###
.DS_Store

lib/junit-platform-engine-1.9.1-sources.jar
lib/junit-platform-engine-1.9.1.jar
lib/junit-platform-launcher-1.9.1-javadoc.jar
lib/junit-platform-launcher-1.9.1-sources.jar
lib/junit-platform-launcher-1.9.1.jar
lib/junit-platform-runner-1.9.1-javadoc.jar
lib/junit-platform-runner-1.9.1-sources.jar
lib/junit-platform-runner-1.9.1.jar
lib/junit-platform-suite-api-1.9.1-javadoc.jar
lib/junit-platform-suite-api-1.9.1-sources.jar
lib/junit-platform-suite-api-1.9.1.jar
lib/junit-platform-suite-commons-1.9.1.jar
lib/opentest4j-1.2.0-javadoc.jar
#dfsfs#dfsfsfs